//? VAR
$OneRem: 16;

$fontFamily: 'Roboto', 'sans-serif';
$mainColor: #000;
$yellow: #F8F200;
$white: #fff;
$gray: #777;
$blue: #52BEDC;

$maxWidth: 1920;
$minWidth: 320;

$containerWidth: 1280;

$pc: $containerWidth + px;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;

//? FUNCTION
@function toRem($value) {
	$result: calc($value / 16);
	
	@return $result + rem;
}

//? MIXIN
@mixin adaptiv-mp($pcSize, $mobSize, $value, $maxW: null, $minW: null, $metrik: px) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - $minWidth;

	@if ($minW) {
		#{$value}: calc(#{$mobSize + $metrik} + #{$addSize} * ((100vw - #{$minW + $metrik}) / (#{$maxWidth} - #{$minW} + #{$minWidth})));
	} @else {
		#{$value}: calc(#{$mobSize + $metrik} + #{$addSize} * ((100vw - #{$minWidth + $metrik}) / #{$maxWidth}));
	}

	@if ($maxW) {
		@media (min-width: #{$maxW + $metrik}) {
			#{$value}: #{$pcSize + $metrik};
		}
	} @else {
		@media (min-width: #{calc($maxWidth + $minWidth) + $metrik}) {
			#{$value}: #{$pcSize + $metrik};
		}
	}

	@if ($minW) {
		@media (max-width: #{$minW + $metrik}) {
			#{$value}: #{$mobSize + $metrik};
		}
	} @else {
		@media (max-width: #{$minWidth + $metrik}) {
			#{$value}: #{$mobSize + $metrik};
		}
	}
}

//? FONTS
@font-face {
  font-family: "Archangelsk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Archangelsk"),
    url("../fonts/Archangelsk.woff2") format("woff2"),
    url("../fonts/Archangelsk.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto"),
    url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
}

//? GLOBAL
html {
	height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
	scroll-behavior: smooth;
}
body{
	color: $mainColor;
  @include adaptiv-mp(18, 16, font-size, 1024);
	font-family: $fontFamily;
  position: relative;
  min-width: $minWidth + px;
  overflow-x: hidden;
  margin: 0;

  &._lock {
    overflow: hidden;

		.body-wrapper {
			overflow: hidden;
		}
  }
}
.body-wrapper {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
main {
	flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ol {
	padding: 0;
  margin: 0;
}

.list-counter {
	list-style-type: none;
	counter-reset: item;
	
	li {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: item;
			content: counter(item);
		}
	}
} */
img {
  object-fit: cover;
}
button, input, textarea, fieldset {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
button, input, textarea, select {
	cursor: pointer;
}
input, textarea, fieldset, select {
	&:focus-visible {
		outline: none;
	}
}
picture {
	display: flex;
	source {
		width: 0;
		height: 0;
	}
	img {
		width: 100%;
		height: 100%;
	}
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
	--width: 1280px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);

  @media (max-width: 720px) {
    --padding: 12px;
  }
}
section {
  margin-bottom: toRem(70);
}
.section__title {
  font-family: Archangelsk;
  @include adaptiv-mp(62, 30, font-size, 1024);
  font-weight: 400;
  margin-bottom: 25px;
}
.button {
  padding: toRem(19) toRem(50);
  font-weight: 700;

  &--yellow {
    color: $mainColor;
    background-color: $yellow;
  }

  &--black {
    color: $yellow;
    background-color: $mainColor;
  }
}
.license {
  @include adaptiv-mp(18, 14, "font-size");
}

//? FORM
.list {
  // .list__items
  &__items{
    display: grid;
    gap: toRem(15);
    margin-bottom: toRem(40);
  }
  // .list__item
  &__item {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: toRem(10);
  } 
  // .list__img
  &__img {
    width: toRem(32);
    height: toRem(32);
  }
}

//? LIST__ITEMS
.list {
  // .list__items
  &__items{
    display: grid;
    gap: toRem(15);
    margin-bottom: toRem(40);
  }
  // .list__item
  &__item {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: toRem(10);
  } 
  // .list__img
  &__img {
    width: toRem(32);
    height: toRem(32);
  }
}

//? INFO
.info-hero {
  width: 100%;
  padding: toRem(70);
  @include adaptiv-mp(70, 30, padding-top, 1024);
  @include adaptiv-mp(70, 30, padding-bottom, 1024);
  @include adaptiv-mp(70, 15, padding-left, 720);
  @include adaptiv-mp(70, 15, padding-right, 720);
  background-color: $yellow;

  @media (max-width: 720px) {
    text-align: center;
  }
  // .info__hero-text
  &__text {
    font-family: Archangelsk;
    @include adaptiv-mp(62, 30, font-size, 1024);
    max-width: 7.8645em;

    @media (max-width: 720px) {
      max-width: none;
    }
  }
  // .info__hero-button
  &__button {
    font-size: toRem(24);
    line-height: 1.666; /* 166.667% */
  }
}

//? HEADER
.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	transition: .8s ease;
	z-index: 2;

	&.hide {
		transform: translateY(-100%);
	}
	// .header__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: toRem(10) toRem(50);
		min-height: toRem(74);
		padding-top: toRem(20);
		padding-bottom: toRem(20);

		@media (max-width: 720px) {
			grid-template-columns: auto;
		}
	}
	// .header__logo
	&__logo {
		@include adaptiv-mp(296, 200, "width");
		@include adaptiv-mp(78, 50, "height");

		@media (max-width: 720px) {
			justify-self: center;
		}
	}
	// .header__logo-img
	&__logo-img {
		width: 100%;

		// .header__logo-img.header__logo-img--youtube
		&--youtube:hover path {
			fill: #cd201f;
		}
	}
	// .header__social-list
	&__social-list {
		display: grid;
		grid-auto-flow: column;
		justify-content: end;
		gap: toRem(40);

		@media (max-width: 720px) {
			justify-self: center;
			gap: toRem(30);
		}
	}
}
.list-social {

	// .list-social__img
	&__img {
		@include adaptiv-mp(30, 25, "width");
		@include adaptiv-mp(30, 25, "height");
	}
	// .list-social__item
	&__item {
		font-size: 0;
		// .list-social__item .list-social__img path
		.list-social__img path {
			transition: all .3s ease;
		}
		// .list-social__item :hover .list-social__img--youtube path
		&:hover .list-social__img--youtube path {
			fill: #cd201f;
		}
		// .list-social__item :hover .list-social__img--vk path
		&:hover .list-social__img--vk path {
			fill: #0077ff;
		}
		// .list-social__item :hover .list-social__img--facebook path
		&:hover .list-social__img--facebook path {
			fill: #3b5998;
		}
		// .list-social__item :hover .list-social__img--twitter path
		&:hover .list-social__img--twitter path {
			fill: #1faee9;
		}
		// .list-social__item :hover .list-social__img--twitch path
		&:hover .list-social__img--twitch path {
			fill: #6441a5;
		}
		// .list-social__item :hover .list-social__img--instagram path
		&:hover .list-social__img--instagram path {
			// fill: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
			fill: #f09433;
		}
	}
}

//? HERO
.hero {
  height: 100vh;
  position: relative;
  min-height: toRem(495);
  margin-bottom: toRem(70);
  // .hero__container
  &__container {
    display: grid;
    height: 100%;
    justify-content: end;
    align-items: end;
  }
  // .hero__slider
  &__slider {
    position: absolute;
    inset: 0;
  }
  // .hero__slider-list
  &__slider-list {
    position: absolute;
    inset: 0;
  }
  // .hero__slider-item
  &__slider-item {
  
    & picture {
      height: 100vh !important;
    }
  }
  &__info {
    z-index: 2;
    clip-path: polygon(10% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 15%);

    @media (max-width: 720px) {
      position: absolute;
      bottom: 0;
      clip-path: none;
    }
  }
}

//? ABOUT
.about {
  margin-bottom: toRem(140);

  // .about__text
  &__text {
    max-width: 52.88em;
    color: $gray;
    line-height: 1.888;
    margin-bottom: toRem(70);

    span {
      color: $blue;
    }
  }
  // .about__gallery
  &__gallery {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: toRem(32);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 520px) {
      grid-template-columns: auto;
    }
  }
  // .about__gallery-img
  &__gallery-img {
    clip-path: polygon(10% 0, 100% 0, 100% 73%, 89% 100%, 0 100%, 0 25%);

    @media (max-width: 520px) {
      height: toRem(196);
      clip-path: polygon(10% 0, 100% 0, 100% 73%, 89% 100%, 0 100%, 0 25%);
    }

    &:nth-child(2) {
      @media (max-width: 1024px) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      @media (max-width: 520px) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    picture {
      height: 100%;
    }
    // .about__gallery-img--big
    &--big {
      clip-path: polygon(15% 0, 100% 0, 100% 80%, 85% 100%, 0 100%, 0 18%);
      grid-row: 1/3;
      grid-column: 2/3;

      @media (max-width: 1024px) {
        grid-row: 2/3;
        grid-column: 1/3;
        max-height: toRem(424);
      }
      @media (max-width: 520px) {
        clip-path: polygon(10% 0, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 12%);
        grid-column: auto;
        grid-row: auto;
        height: toRem(720);
      }
    }
  }
}

//? WIN
.win {
  position: relative;
  color: $white;
  background-color: $mainColor;
  padding: 15px 0;
  margin-bottom: 0;
  // .win::before, .win::after
  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: toRem(70);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  // .win::before
  &::before {
    content: '';
    top: toRem(-70);
    background-image: url(@img/win/bg-dots-top.jpg);
  }
  // .win::after
  &::after {
    content: '';
    bottom: toRem(-70);
    background-image: url(@img/win/bg-dots-down.jpg);
  }
  // .win__container
  &__container {

    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 toRem(32);
    }
    @media (max-width: 720px) {
      grid-template-columns: auto;
    }
  }
  // .win__title
  &__title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: toRem(15) toRem(32);

    @media (max-width: 1024px) {
      grid-template-columns: auto;
    }

    > img {
      @include adaptiv-mp(132, 62, width, 720 );
      @include adaptiv-mp(132, 62, height, 720 );
    }
  }
  // .win__text
  &__text {
    line-height: 1.888;
    margin-bottom: toRem(98);
    @include adaptiv-mp(98, 70, margin-bottom, 1024);
    @include adaptiv-mp(952, 460, width, null, 1024);

    @media (max-width: 1024px) {
      width: 100%;
    }
    
    // .win__text span
    span {
      color: $blue;
    }
  }
  // .win__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: toRem(460) 1fr;
    gap: toRem(32);

    @media (max-width: 1024px) {
      grid-template-columns: auto;
    }
  }
  // .win__form
  &__form {
    margin-bottom: toRem(55);
  }
  // .win__imgs 
  &__imgs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1024px) {
      grid-template-columns: auto;
      grid-column: 2/3;
      grid-row: 1/3;
    }
    @media (max-width: 720px) {
      top: toRem(-10);
      grid-template-columns: repeat(2, 1fr);
      grid-column: auto;
      grid-row: 2/3;
    }
  }
  // .win__img
  &__img {
    object-fit: contain;
    object-position: center top;

    @media (max-width: 1024px) {
      height: auto;
    }

    // .win__img--xbox
    &--xbox {
      position: relative;
      right: toRem(120);
      @include adaptiv-mp(-120, -60, right, null, 1024);

      @media (max-width: 1024px) {
        justify-self: end;
        align-self: end;
        right: 0;
      }
    }

    // .win__img--xbox
    &--ps {
      position: relative;
    }
  }
}

//? COMPLECT
.complect {
  padding-top: toRem(140);
  padding-bottom: toRem(70);
  margin-bottom: 0;
  background-color: $yellow;

  // .complect__container
  &__container {
    display: grid;
    grid-template-columns: toRem(624) 1fr;
    gap: toRem(40) toRem(32);

    @media (max-width: 1200px) {
      grid-template-columns: toRem(460) 1fr;
    }
    @media (max-width: 920px) {
      grid-template-columns: auto;
      grid-auto-flow: row;
    }
  }
  // .complect__img
  &__img {
    display: grid;
    justify-content: center;
    gap: toRem(25);
    // .complect__img-main
    &-main {
      // margin-bottom: toRem(26);
      object-fit: contain;
    }
  }
  // .complect__img-icons
  &__img-icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: toRem(25);

    @media (max-width: 1200px) {
      grid-auto-flow: row;
    }
    @media (max-width: 920px) {
      grid-auto-flow: column;
      gap: 0 toRem(12);
    }
  }
  // .complect__icon
  &__icon {
    align-self: center;
    justify-self: center;

    // .complect__icon--mark
    &--mark {
      @media (max-width: 920px) {
        width: toRem(44);
        height: toRem(44);
      }
    }
    // .complect__icon--and
    &--and {
      @media (max-width: 920px) {
        width: toRem(50);
        height: toRem(12);
      }
    }
    // .complect__icon--logo
    &--logo {
      @media (max-width: 920px) {
        width: toRem(176);
        height: toRem(44);
      }
    }
  }
  // .complect__text
  &__text {
    line-height: 1.88;
    margin-bottom: toRem(31);
  }
  // .complect__advantages
  &__advantages {
    margin-bottom: 0;
  }
}

//? BUY
.buy {
  background-color: $mainColor;
  color: $white;
  margin-bottom: 0;

  // .buy__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 720px) {
      grid-template-columns: auto;
    }
  }
  // .buy__img
  &__img {
    color: $yellow;

    @media (max-width: 720px) {
      height: 61.875vw;
    }
    // .buy__img picture
    picture {
      height: 100%;
    }
  }
  // .buy__about 
  &__about {
    padding: toRem(70) toRem(20) toRem(70) toRem(35);

    @media (max-width: 720px) {
      padding: toRem(40) toRem(12);
    }
  }
  // .buy__complect
  &__complect {
    margin-bottom: toRem(70);

    @media (max-width: 720px) {
      margin-bottom: toRem(40);
    }
    // .buy__complect-title
    &-title {
      margin-bottom: toRem(15);
    }
    // .buy__complect-items
    &-items {
      margin-bottom: 0;
    }
  }
  // .buy__list-title
  &__list-title {
    font-size: toRem(24);
    font-weight: 700;
    color: $blue;
  }
  // .buy__platforms
  &__platform {

    &-title {
      margin-bottom: toRem(25);
    }
  }
  // .buy__platforms-items
  &__platform-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: toRem(320);
    gap: toRem(45) toRem(25);
  }
  // .buy__platforms-item
  &__platform-item {
    align-self: center;
  }
}

//? FOOTER
.footer {
  // .footer__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(25);
    align-items: center;
    padding: toRem(13) 0;
    
    @media (max-width: 720px) {
      grid-template-columns: auto;
      padding-top: toRem(40);
    }
  }
  // .footer__left
  &__left {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: toRem(25) toRem(32);

    @media (max-width: 1024px) {
      grid-template-columns: auto;
      justify-self: center;

      a {
        justify-self: center;
      }
    }
  }
  // .footer__logo
  &__logo {

    @media (max-width: 1024px) {
      height: toRem(50);
      // .footer__logo--cyberpank
      &--cyberpank {
        width: toRem(200);
      }
      // .footer__logo--red 
      &--red {
        width: toRem(117);
      }
    }
  }
  // .footer__right
  &__right {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: toRem(15) toRem(32);

    @media (max-width: 1024px) {
      justify-self: center;
      grid-auto-flow: row;
      text-align: center;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  // .footer__copy
  &__copy {
    font-size: toRem(12);
    text-align: center;
    color: $white;
    padding: toRem(13) 0;
    background-color: $mainColor;
  }
}

//? JUSTVALIDATE
.just-validate-error-field,
.just-validate-error-label {
  font-weight: 600;
  border-bottom-color: rgb(184, 17, 17);
}
.error-container {
  position: absolute; 
  bottom: -25px; 
  right: 0;

  &.error-container--check {
    right: auto;
    left: 0;
  }
}